body{
	background-color: #e0e0e0;
}
.form{
	width: 75%;
	margin: auto;
	
}
.tbl{
	width: 100%;
	padding: 20px;
	
	font-size: 20px;
}
table td{
	padding: 20px;
	text-align: center;
	//border: 1px solid black;
}
input{
	border-color: black;
	width: 100%;
	padding: 10px;
}
.btn{
	width: 30%;
	padding: 10px;
	border: none;
	background-color: #424242;
	color: white;
}
h2{
	font-size: 30px;
	text-align: center;
	margin-bottom: 0px;
}
p{
	opacity: 0;
	font-size: 20px;
	color: red;
}